# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
.pnp/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
pnpm-lock.yaml

# Testing
/coverage
/coverage.json

# Next.js
/.next/
/out/
.next/
next-env.d.ts

# Production
/build
/dist

# Environment Variables
.env
.env.*
.env.local
.env.development
.env.test
.env.production

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.pem

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Hardhat
/cache
/artifacts
/deployments
/typechain
/typechain-types
ignition/deployments/chain-31337

# Smart Contracts
contracts/artifacts/*
contracts/cache/
contracts/typechain-types
contracts/node_modules/
contracts/.env
contracts/dist/
contracts/build/
contracts/deployed/

# Project specific
/designs/
/deployed/
/tests/coverage/
/tests/artifacts/
/tests/cache/

# Misc
.DS_Store
*.log
*.pid
*.seed
*.pid.lock
